/* Hide Vue template until mounted */
[v-cloak] {
	display: none;
}

/* Classes */
	/* Alignment */
		.horizontally-centered {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.horizontally-stackable {
			display: flex;
			flex-direction: column;
			align-items: center;

			gap: 20px;
		}

		.some-padding {
			padding: 200px;
		}
	
	/* Character status */
		/* .char-not-reached-yet {
			color: black
		} */
		.char-is-correct {
			color: green
		}
		.char-is-incorrect {
			color: red
		}
	
	/* Scoring */
		.scoring-divider {
			display: flex;
			gap: 20px;
			align-items: center;
		}	

		.correct {
			background-color: green;
		}
		.total {
			background-color: grey;
		}
		.wrong {
			background-color: red;
		}
		

/* Individual */
	#timer {
		/* Dimensions */
		width: 100px;
		height: 60px;

		/* Coloring */
		background-color: #5b74d6;
		box-shadow: 0 2px 6px rgba(0,0,0,0.15);
		
		/* font */
		color: white;
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		align-items: center;
		justify-content: center;
		display: flex;
		/* font-family: 'Times New Roman', Times, serif; */
	}

	#text-to-type-section {
		/* Dimensions */
		width: 80%;
		height: 400px;
	}

	#input-box {
		/* Dimensions */
		width: 80%;
		height: 24px;
	}

